 ul#navlist{
   list-style-type: none;
   padding: 0;
   margin: 0;
   float: right;
   width: 100%;
   background-color: #036;
 }
 ul#navlist li {
   display: inline; 
 }
 ul#navlist li a {
   float: left;
   width: 5em; 
   color: #fff;
   background-color: #036;
   padding: 0.2em 1em;
   text-decoration: none;
   border-right: 1px #fff solid; 
 }
 ul#navlist li a:hover {
   background-color: #369;
   color: #fff;
}